.filter-container {
  text-align: center;
  padding-bottom: 20px;
}
input {
  margin: 20px auto;
  display: block;
  font-size: 1.4rem;
  text-align: center;
  transition: 0.2s;
  border: 2px solid rgb(180, 199, 228);
  border-radius: 50px;
}
input:focus {
  border-radius: 30px;
  background: rgb(238, 238, 238);
  border: 2px solid rgb(129, 174, 240);
  outline: none;
}
input:hover {
  border: 2px solid rgb(129, 174, 240);
  cursor: pointer;
}
#inputSearch::placeholder {
  transition: 0.5s;
}
#inputSearch:focus::placeholder {
  opacity: 0;
}
.range-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type="range"] {
  width: 250px;
  margin: 0 10px 10px 0;

}
button, #region {
  cursor: pointer;
  padding: 15px;
  background:rgb(180, 199, 228);
  border: none;
  border-radius: 50px;
  height: 55px;
  width: 200px;
  font-size: 1rem;
  box-sizing: border-box;
}
select option {
  cursor: pointer;
}
.countries-container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:25px;
  padding:40px;
}
.card{
  background:rgb(180, 199, 228);
  color: black;
  border-radius:10px;
  padding:20px;
  text-align:center;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
  transition:0.25s;
}
.card:hover{
  transform:translateY(-6px);
}
.card img{
  width:90px;
  height:60px;
  object-fit:cover;
  margin-bottom:10px;
}